.navbar1 .navbar{ background-color: #8FBC8F;}

.navbar1 .navbar-default .navbar-brand{color: white;}

.navbar1 .tab-panel{ background-color: #8FBC8F; color: #8FBC8F}


<--   this sets the font color and background for inactive tabs -->
<--  was... background-color:#8FBC8F!important; -->
.navbar1 .navbar-nav li a {
color: #000000 !important;
background-color:#7d8d69 !important;
background-image: #fff !important;
}


<--   this sets the font color and background for hover and active tabs -->
<--  was... background-color:#8FBC8F!important; -->
.navbar1 .navbar-nav li a:hover, .navbar1 .navbar-nav > .active > a {
color: #fff !important;

background-color:#8FBC8F!important;
background-image: #fff !important;
}


